
.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ================================================================================= */
header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: #34A5DA;
  padding-left: 50px;
  position: absolute;
  top: 0px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  position: relative;
  width: 80%;
  padding: 60px 90px;
  background-color: white;
  border-radius: 10px;
}

section > h2 {
  width: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px 20px;
  font-size: 2.5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.card-container > h2 {
  width: auto;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: #34A5DA;
  margin: 0px 0px 20px 0px
}

.card-container > h3 {
  margin: 5px;
  font-weight: 400;
}

.card-container > h3 > span {
  font-weight: 700;
}

#movie {
  margin-top: 20px;
}

ol {
  margin-top: 0px;
  font-weight: 600;
}

.card-nav {
  margin-top: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.card-nav button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: #34A5DA;
  border: 0;
  border-radius: 15px;
  margin: 0px 10px;
}

#next, #previous {
  background-color: transparent;
  margin: 0;
  font-size: 1.5rem;
  padding: 0;
}